# Exo 1 - Charger un csv

In [2]:
import pandas as pd

In [5]:
data = pd.read_csv("https://bit.ly/world-cities-clean")
data.head(10)

                name               country          subcountry  geonameid
0       les Escaldes               Andorra  Escaldes-Engordany    3040051
1   Andorra la Vella               Andorra    Andorra la Vella    3041563
2     Umm al Qaywayn  United Arab Emirates      Umm al Qaywayn     290594
3     Ras al-Khaimah  United Arab Emirates     Raʼs al Khaymah     291074
4       Khawr Fakkān  United Arab Emirates        Ash Shāriqah     291696
5              Dubai  United Arab Emirates               Dubai     292223
6  Dibba Al-Fujairah  United Arab Emirates         Al Fujayrah     292231
7      Dibba Al-Hisn  United Arab Emirates         Al Fujayrah     292239
8            Sharjah  United Arab Emirates        Ash Shāriqah     292672
9          Ar Ruways  United Arab Emirates           Abu Dhabi     292688

# Exo 2 - Nommer les colonnes

In [4]:
data = pd.read_csv("https://bit.ly/world-cities-dirty-v1", names=(["Nom", "Pays", "Region", "GeoNameID"]))
data.head(10)

                 Nom                  Pays              Region  GeoNameID
0       les Escaldes               Andorra  Escaldes-Engordany    3040051
1   Andorra la Vella               Andorra    Andorra la Vella    3041563
2     Umm al Qaywayn  United Arab Emirates      Umm al Qaywayn     290594
3     Ras al-Khaimah  United Arab Emirates     Raʼs al Khaymah     291074
4       Khawr Fakkān  United Arab Emirates        Ash Shāriqah     291696
5              Dubai  United Arab Emirates               Dubai     292223
6  Dibba Al-Fujairah  United Arab Emirates         Al Fujayrah     292231
7      Dibba Al-Hisn  United Arab Emirates         Al Fujayrah     292239
8            Sharjah  United Arab Emirates        Ash Shāriqah     292672
9          Ar Ruways  United Arab Emirates           Abu Dhabi     292688

# Exo 3 - Ignorer des lignes

In [6]:
data = pd.read_csv("https://bit.ly/world-cities-dirty-v2")
data.head(10)

,,,,,,Lorem ipsum dolor sit amet,consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,sunt in culpa qui officia deserunt mollit anim id est laborum.
Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,totam rem aperiam,eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est,qui dolorem ipsum quia dolor sit amet,consectetur,adipisci velit,sed quia non numquam eius modi tempora incidu...,quis nostrum exercitationem ullam corporis su...,nisi ut aliquid ex ea commodi consequatur? Qu...,vel illum qui dolorem eum fugiat quo voluptas...
name,country,subcountry,geonameid,NaN,NaN,NaN,NaN,NaN,NaN,NaN
les Escaldes,Andorra,Escaldes-Engordany,3040051,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Andorra la Vella,Andorra,Andorra la Vella,3041563,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Umm al Qaywayn,United Arab Emirates,Umm al Qaywayn,290594,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ras al-Khaimah,United Arab Emirates,Raʼs al Khaymah,291074,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Khawr Fakkān,United Arab Emirates,Ash Shāriqah,291696,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dubai,United Arab Emirates,Dubai,292223,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dibba Al-Fujairah,United Arab Emirates,Al Fujayrah,292231,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dibba Al-Hisn,United Arab Emirates,Al Fujayrah,292239,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
data = pd.read_csv("https://bit.ly/world-cities-dirty-v2", skiprows=2, skipfooter=1)
data.head(10)

<ipython-input-17-590b52c4114e>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  data = pd.read_csv("https://bit.ly/world-cities-dirty-v2", skiprows=2, skipfooter=1)

UnicodeDecodeError: 'charmap' codec can't decode byte 0x81 in position 1580: character maps to <undefined>

# Erreur: problème d'encodage

# Solution: spécifier l'encodage

In [18]:
data = pd.read_csv("https://bit.ly/world-cities-dirty-v2", skiprows=2, skipfooter=1, encoding="UTF-8")
data.head(10)

<ipython-input-18-aa044dddcf41>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  data = pd.read_csv("https://bit.ly/world-cities-dirty-v2", skiprows=2, skipfooter=1, encoding="UTF-8")

                name               country          subcountry  geonameid
0       les Escaldes               Andorra  Escaldes-Engordany    3040051
1   Andorra la Vella               Andorra    Andorra la Vella    3041563
2     Umm al Qaywayn  United Arab Emirates      Umm al Qaywayn     290594
3     Ras al-Khaimah  United Arab Emirates     Raʼs al Khaymah     291074
4       Khawr Fakkān  United Arab Emirates        Ash Shāriqah     291696
5              Dubai  United Arab Emirates               Dubai     292223
6  Dibba Al-Fujairah  United Arab Emirates         Al Fujayrah     292231
7      Dibba Al-Hisn  United Arab Emirates         Al Fujayrah     292239
8            Sharjah  United Arab Emirates        Ash Shāriqah     292672
9          Ar Ruways  United Arab Emirates           Abu Dhabi     292688

# Exo 4 - df init goodpractices

In [19]:
data = pd.read_csv("https://bit.ly/world-cities-dirty-v2")

In [21]:
data.shape

(23021, 5)

In [22]:
data.dtypes

Lorem ipsum dolor sit amet                                                                                                                                                                                                                   object
 consectetur adipiscing elit                                                                                                                                                                                                                 object
 sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam                                                                                                                                                  object
 quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident    object
 sunt in culpa qui officia deserunt mollit anim id est laborum.                                                                                                                                                                              object
dtype: object

In [23]:
data.head()

,,,,,,Lorem ipsum dolor sit amet,consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,sunt in culpa qui officia deserunt mollit anim id est laborum.
Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,totam rem aperiam,eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est,qui dolorem ipsum quia dolor sit amet,consectetur,adipisci velit,sed quia non numquam eius modi tempora incidu...,quis nostrum exercitationem ullam corporis su...,nisi ut aliquid ex ea commodi consequatur? Qu...,vel illum qui dolorem eum fugiat quo voluptas...
name,country,subcountry,geonameid,NaN,NaN,NaN,NaN,NaN,NaN,NaN
les Escaldes,Andorra,Escaldes-Engordany,3040051,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Andorra la Vella,Andorra,Andorra la Vella,3041563,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Umm al Qaywayn,United Arab Emirates,Umm al Qaywayn,290594,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
data.tail()

,,,,,,Lorem ipsum dolor sit amet,consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,sunt in culpa qui officia deserunt mollit anim id est laborum.
Bindura,Zimbabwe,Mashonaland Central,895061,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Beitbridge,Zimbabwe,Matabeleland South,895269,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Epworth,Zimbabwe,Harare,1085510,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Chitungwiza,Zimbabwe,Harare,1106542,NaN,NaN,NaN,NaN,NaN,NaN,NaN
At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,similique sunt in culpa qui officia deserunt mollitia animi,id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore,cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus,omnis voluptas assumenda est,omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus,ut aut reiciendis voluptatibus maiores alias ...,NaN,NaN,NaN,NaN

In [25]:
data.isna().sum()

Lorem ipsum dolor sit amet                                                                                                                                                                                                                   23019
 consectetur adipiscing elit                                                                                                                                                                                                                 23020
 sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam                                                                                                                                                  23020
 quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident    23020
 sunt in culpa qui officia deserunt mollit anim id est laborum.                                                                                                                                                                              23020
dtype: int64

In [29]:
data = pd.read_csv("https://bit.ly/bitcoin-data"); data.shape

(33, 7)

In [30]:
data.dtypes

Date           object
Open*         float64
High          float64
Low           float64
Close**       float64
Volume        float64
Market Cap    float64
dtype: object

In [31]:
data.head()

          Date    Open*     High      Low  Close**        Volume    Market Cap
0  Jan 14 2020  8140.93  8879.51  8140.93  8827.76  4.484178e+10  1.603195e+11
1  Jan 13 2020  8189.77  8197.79  8079.70  8144.19  2.248291e+10  1.478905e+11
2  Jan 12 2020  8033.26  8200.06  8009.06  8192.49  2.290344e+10  1.487530e+11
3  Jan 11 2020  8162.19  8218.36  8029.64  8037.54  2.552117e+10  1.459242e+11
4  Jan 10 2020  7878.31  8166.55  7726.77  8166.55  2.871458e+10  1.482499e+11

In [32]:
data.tail()

,Date,Open*,High,Low,Close**,Volume,Market Cap
28,Dec 17 2019,6931.32,6964.07,6587.97,6640.52,2.236380e+10,1.202342e+11
29,Dec 16 2019,7153.66,7171.17,6903.68,6932.48,2.021327e+10,1.255156e+11
30,Dec 15 2019,7124.24,7181.08,6924.38,7152.30,1.688113e+10,1.294814e+11
31,* Earliest data in range (UTC time),NaN,NaN,NaN,NaN,NaN,NaN
32,** Latest data in range (UTC time),NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
data.isna().sum()

Date          0
Open*         2
High          2
Low           2
Close**       2
Volume        2
Market Cap    2
dtype: int64

In [34]:
data = pd.read_csv("https://bit.ly/bitcoin-data", skipfooter=2);

<ipython-input-34-3dd8aa663f2c>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  data = pd.read_csv("https://bit.ly/bitcoin-data", skipfooter=2);

In [35]:
data.isna().sum()

Date          0
Open*         0
High          0
Low           0
Close**       0
Volume        0
Market Cap    0
dtype: int64

# Exo 5 - créer dataframe

In [37]:
toy = pd.DataFrame(data={'a': [1, 2], 'b':[3,3]}); toy

   a  b
0  1  3
1  2  3

In [38]:
toy.rename(str.upper, axis='columns', inplace=True); toy

   A  B
0  1  3
1  2  3